@font-face {
    font-family: 'Geo';
    src: url(Police/Geometos.ttf);
}
@font-face {
    font-family: "Memphis";
    src: url(Police/Memphis\ River.otf);
    }

@font-face {
    font-family: "Bouton";
    src: url(Police/geomanist-regular-webfont.ttf);
}

body{
    background: #AA076B;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #61045F, #AA076B);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #61045F, #AA076B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
h1{
    text-align: center;
    color: white;
    font-size: 100px;
    font-family: 'Memphis'  ;
    margin-top: 20px;  
}
h2{
   
    font-family: 'Bouton';
    text-align: center;
    color: rgba(235, 230, 230, 0.877);
}

.Textes {
    width: 80%;
    max-width: auto;
    min-width: auto;
    margin: 0px auto;
    text-align: center;
    margin-top: -30px;
    font-family: 'Bouton';
    color: white;
    font-size: 17px;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    
}

.btn{
    width: 300px;
    height: 100px;
    border:none;
    color:white;
    background-color: black;
    border-radius: 4px;
    box-shadow: inset 0 0 0 0 #61045F;
    transition: ease-out 0.3s;
    font-size: 2rem;
    outline: none;
    font-family: "Bouton";
}

.btn:hover {
    box-shadow: inset 300px 0 0 0 #61045F;
    cursor:pointer;
    color:white;
}

