@font-face {
    font-family: 'Geo';
    src: url(Police/Geometos.ttf);
}
@font-face {
    font-family: "Memphis";
    src: url(Police/Memphis\ River.otf);
    }

@font-face {
    font-family: "Bouton";
    src: url(Police/geomanist-regular-webfont.ttf);
}

body{
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
} 


h1{
    text-align: center;
    color: white;
    font-size: 60px;
    font-family: 'Memphis'  ;
    margin-top: 20px;  
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 25px;
    font-size: 17px;
    text-align: justify;
    font-family: "Bouton";
    color: white;
}

.parallax{
    background: url("img/sombre.jpg") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 100px;
    border-radius: 5%;

}



.btnD{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    
}

.btn{
    width: 300px;
    height: 100px;
    border:none;
    color:white;
    background-color: black;
    border-radius: 4px;
    box-shadow: inset 0 0 0 0 #141E30;
    transition: ease-out 0.3s;
    font-size: 2rem;
    outline: none;
    font-family: "Bouton";
}

.btn:hover {
    box-shadow: inset 300px 0 0 0 #243B55;
    cursor:pointer;
    color:white;
}

